Checks: >
  readability-*,
  performance-*,
  modernize-*,
  clang-analyzer-*,
  bugprone-*,
  cppcoreguidelines-*,
  misc-*,
  -modernize-use-trailing-return-type,
  -misc-no-recursion

WarningsAsErrors: 'true'

CheckOptions:
  - key: readability-identifier-length.IgnoredVariableNames
    value: "^(i|j|k|x|y|z|w|v|h|id)$"