[submodule "lib/bgfx.cmake"]
	path = lib/bgfx.cmake
	url = git@github.com:bkaradzic/bgfx.cmake.git
[submodule "lib/glfw"]
	path = lib/glfw
	url = git@github.com:glfw/glfw.git
[submodule "lib/entt"]
	path = lib/entt
	url = git@github.com:skypjack/entt.git
[submodule "lib/glm"]
	path = lib/glm
	url = git@github.com:g-truc/glm.git
[submodule "lib/assimp"]
	path = lib/assimp
	url = git@github.com:assimp/assimp.git
[submodule "lib/pugixml"]
	path = lib/pugixml
	url = git@github.com:zeux/pugixml.git
[submodule "lib/rapidjson"]
	path = lib/rapidjson
	url = git@github.com:Tencent/rapidjson.git
[submodule "lib/ozz"]
	path = lib/ozz
	url = git@github.com:guillaumeblanc/ozz-animation.git
[submodule "lib/luajit"]
	path = lib/luajit
	url = git@github.com:LuaJIT/LuaJIT.git
[submodule "lib/sol2"]
	path = lib/sol2
	url = git@github.com:ThePhD/sol2.git
