[submodule "lib/bgfx.cmake"]
	path = lib/bgfx.cmake
	url = git@github.com:bkaradzic/bgfx.cmake.git
[submodule "lib/glfw"]
	path = lib/glfw
	url = git@github.com:glfw/glfw.git
[submodule "lib/entt"]
	path = lib/entt
	url = git@github.com:skypjack/entt.git
[submodule "lib/glm"]
	path = lib/glm
	url = git@github.com:g-truc/glm.git
